<section class="section">
    <div class="container p-4">
        <h3 class="text-center p-4">Editar Laboratorio</h3>
        <div class="row">
            <div class="col-md-4 mx-auto">
                <div class="card ">
                    <div class="card-body">
                        <form action="/lab/edit/{{lab.id_laboratorio}}" method="POST">
                            <div class="form-group">
                                <p>Nombre</p>
                                <input type="text" class="form-control" name="nombre_lab" value ="{{lab.nombre_lab}}" >
                            </div>
                            <div class="form-group">
                                <button class="btn btn-success btn-block">
                                    Guardar
                                </button> 
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>